.hero_section {
  background: #052b4a;
  padding: 0 10px;
  header {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
    ul {
      display: flex;
      gap: 20px;
      li {
        a {
          display: flex;
          align-items: center;
          gap: 6px;
          color: #eef1f6;
          font-size: 14px;
          font-weight: 500;
          line-height: 1;
          i {
            width: 24px;
            height: 24px;
            display: flex;
            justify-content: center;
            padding: 3px;
            align-items: center;
            border-radius: 4px;
            background: rgba(255, 255, 255, 0.1);
          }
        }
      }
    }
  }
  /*=============== slider ===================*/
  .slider {
    display: flex;
    justify-content: space-between;
    h2 {
      padding-top: 15px;
      margin-bottom: 30px;
      span {
        color: #feba30;
      }
    }
    h3 {
      margin-bottom: 30px;
      display: flex;
      gap: 10px;
      align-items: center;
      color: #fff;
      font-size: 28px;
      font-weight: 400;
      line-height: 1;
      span {
        width: 36px;
        height: 36px;
        padding: 3.375px 7.425px 4.184px 7.2px;
        border-radius: 6.75px;
        border: 1.125px solid rgba(234, 237, 247, 0.8);
      }
    }
    ul {
      display: flex;
      justify-content: space-between;
      gap: 15px;
      align-items: center;
      padding-bottom: 15px;
      li {
        min-width: 312px;
        display: flex;
        gap: 8px;
        border-radius: 50px;
        background: #1e405c;
        padding: 15px 20px 15px 15px;
        i {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 40px;
          gap: 10px;
          border-radius: 30px;
          background: rgba(4, 34, 59, 0.5);
        }
        .order_details {
          strong {
            display: block;
            color: #eef1f6;
            font-size: 16px;
            font-weight: 600;
            line-height: 1;
            span {
              display: block;
              font-weight: 400;
              margin-top: 5px;
            }
          }
        }
      }
    }
    .slider_img {
      padding: 15px;
      background: #fff;
      border-radius: 10px 10px 0 0;
      box-shadow: 0 -7px 10px 0 rgba(0, 0, 0, 0.25);
    }
  }
}