@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  color: #3d4c5e;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
}
a {
  text-decoration: none;
}
ul li {
  list-style: none;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}
h2 {
  color: #ffeac2;
  font-feature-settings:
    "liga" off,
    "clig" off;
  font-size: 36px;
  font-weight: 500;
  line-height: 1;
}
h4 {
  color: #164781;
  font-size: 16px;
  font-weight: 600;
  line-height: 1px;
  color: #164781;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
}
p {
  color: #3d4c5e;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
}
