.hero_section {
  background: #052b4a;

  /*==================== header =================*/
  header {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;

    ul {
      display: flex;
      gap: 20px;

      li {
        a {
          display: flex;
          align-items: center;
          gap: 6px;
          color: #eef1f6;
          font-size: 14px;
          font-weight: 500;
          line-height: 1;

          i {
            width: 24px;
            height: 24px;
            display: flex;
            justify-content: center;
            padding: 3px;
            align-items: center;
            border-radius: 4px;
            background: rgba(255, 255, 255, 0.1);
          }
        }
      }
    }
  }

  /*=============== slider ===================*/
  .slider {
    display: flex;
    justify-content: space-between;

    h2 {
      padding-top: 15px;
      margin-bottom: 30px;

      span {
        color: #feba30;
      }
    }

    h3 {
      margin-bottom: 30px;
      display: flex;
      gap: 10px;
      align-items: center;
      color: #fff;
      font-size: 28px;
      font-weight: 400;
      line-height: 1;

      span {
        width: 36px;
        height: 36px;
        padding: 3.375px 7.425px 4.184px 7.2px;
        border-radius: 6.75px;
        border: 1.125px solid rgba(234, 237, 247, 0.8);
      }
    }

    ul {
      display: flex;
      justify-content: space-between;
      gap: 15px;
      align-items: center;

      li {
        min-width: 312px;
        display: flex;
        gap: 8px;
        border-radius: 50px;
        background: #1e405c;
        padding: 15px 20px 15px 15px;

        i {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 40px;
          gap: 10px;
          border-radius: 30px;
          background: rgba(4, 34, 59, 0.5);
        }

        .order_details {
          strong {
            display: block;
            color: #eef1f6;
            font-size: 16px;
            font-weight: 600;
            line-height: 1;

            span {
              display: block;
              font-weight: 400;
              margin-top: 5px;
            }
          }
        }
      }
    }

    .slider_img {
      padding: 15px;
      background: #fff;
      border-radius: 10px 10px 0 0;
      box-shadow: 0 -7px 10px 0 rgba(0, 0, 0, 0.25);
    }
  }
}

/*================= status =================*/
.status {
  border-bottom: 1px solid rgba(148, 162, 180, 0.2);
  background: #fff;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.02);
  padding: 15px 0;

  ul {
    display: flex;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      padding: 0 10px;

      i {
        display: flex;
        width: 46px;
        height: 46px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 30px;
        background: rgba(148, 162, 180, 0.2);
      }

      div {
        min-width: 317px;
        border-right: 1px solid rgba(199, 211, 225, 0.5);

        h4 {
          margin-bottom: 5px;
        }

        span {
          color: #3d4c5e;
          font-size: 14px;
          font-weight: 400;
        }
      }
    }

    .select {
      display: flex;
      flex-direction: column;
    }
  }
}

/*============== description =============*/
.description {
  background: #f5f5f5;
  padding: 30px 0;

  .description_data {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    .description_cover {
      .des_overview {
        border-radius: 10px;
        box-shadow: 0 1px 7.8px 0 rgba(22, 71, 129, 0.05);
        padding: 15px;
        background: #fff;
        margin-bottom: 9px;

        h4 {
          color: #090b0e;
          font-size: 18px;
          font-weight: 500;
          margin-bottom: 3px;
        }
      }

      .resources_cover {
        background: #fff;
        border-radius: 10px;

        .resources {
          display: flex;
          padding: 10px 15px;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid rgba(199, 211, 225, 0.5);
          border-radius: 10px;
          background: #fff;
          margin-bottom: 15px;

          ul {
            display: flex;
            justify-content: space-between;
            border-radius: 20px;
            background: #eaecf0;

            li {
              color: #546881;
              font-size: 14px;
              font-weight: 500;
              line-height: 1;
            }
          }
        }

        /* ================ drag_drop ================ */
        .drag_drop {
          margin: 0px 15px;
          border-radius: 10px;
          border: 1px dashed #cbd0dc;
          background: #f9fafb;
          margin-bottom: 20px;

          .drag {
            display: flex;
            justify-content: center;
            text-align: center;
            padding-top: 15px;

            .drag_items {
              margin-top: 10px;

              h4 {
                margin-bottom: 10px;
                color: #090b0e;
                text-align: center;
                font-size: 16px;
                font-weight: 400;
              }

              span {
                color: #6a7378;
                font-size: 14px;
                font-weight: 400;
                display: block;
                margin-bottom: 8px;
              }

              .upload {
                text-align: center;
                font-size: 12px;
                font-weight: 500;
                border-radius: 30px;
                background: #fff;
                padding: 6px 20px;
                margin-bottom: 15px;
                width: 50%;
                margin: auto;
                margin-bottom: 15px;
              }
            }
          }
        }
      }

      .uploaded {
        padding: 15px;

        h4 {
          margin-bottom: 15px;
        }

        .pdf_cover {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-radius: 6px;

          .upload_data {
            min-width: 479px;
            border-radius: 6px;
            border: 1px solid #e5e7e9;
            background: #f9fafb;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .pdf_data {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 5px;

              svg {
                margin-right: 5px;
              }

              h4 {
                color: #3d4c5e;
                font-size: 13px;
                font-weight: 500;
                line-height: normal;
                margin-bottom: 3px;
              }

              h5 {
                color: #3d4c5e;
                font-size: 12px;
                font-weight: 400;
              }
            }
          }

          .file_type {
            h4 {
              color: #6a7378;
              font-size: 12px;
              font-weight: 400;
            }
          }

          .pdf_profile {
            display: flex;
            gap: 5px;

            img {
              width: 32px;
              height: 32px;
            }

            h4 {
              color: #3d4c5e;
              font-size: 13px;
              font-weight: 400;
            }
          }
        }
      }

      /* vechiles */
      .vechile {
        padding-bottom: 15px;
        padding-left: 15px;
        padding: 15px;

        .vechile_cover {
          display: flex;
          align-items: center;
          gap: 10px;
          margin-bottom: 20px;
        }

        .save {
          padding: 10px 25px;
          align-items: center;
          border-radius: 6px;
          background: #164781;
          width: 3px;
          color: #fff;
          text-align: center;
          font-size: 14px;
          font-weight: 500;
          line-height: 1;
        }
      }
    }
  }

  .notes_cover {
    background: #fff;
    border-radius: 10px;

    .notes {
      padding: 15px;
      border-bottom: 1px solid rgba(199, 211, 225, 0.5);
    }
  }

  ul {
    li {
      display: flex;
      padding: 15px;
      gap: 15px;
      border-bottom: 1px solid rgba(199, 211, 225, 0.5);

      img {
        width: 36px;
        height: 36px;
        border-radius: 76px;
      }

      h4 {
        color: #090b0e;
        font-size: 14px;
        font-weight: 500;
        line-height: 1;
        margin-bottom: 8px;

        span {
          color: #3d4c5e;
          font-size: 13px;
          font-weight: 400;
          line-height: 1px;
        }
      }
    }

    .text_area {
      position: relative;

      textarea {
        width: 100%;
        border-radius: 12px;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.06);
        border: 1px solid rgba(139, 169, 215, 0.4);
        background: #fff;
        min-height: 80px;
      }

      img {
        position: absolute;
        right: 20px;
        top: 23px;
        border-radius: 0;
      }
    }
  }

  ul {
    li.text_area {
      border-bottom: none;
    }
  }
}

/*=============== footer ===================*/

footer {
  .footer_cover {
    align-self: stretch;
    padding-top: 40px;
    border-top: 1px solid rgba(148, 162, 180, 0.2);
    background: #e5e7e9;
    box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, 0.02);

    .top_footer {
      margin-bottom: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;

      .footer_content {
        .footer_data {
          display: flex;
          gap: 20px;
        }

        h4 {
          margin-bottom: 10px;
        }

        img {
          display: flex;
          gap: 20px;
        }

        p {
          color: #3d4c5e;
          font-size: 13px;
          font-weight: 500;
          line-height: 1.5;
        }

        a {
          display: inline-flex;
          color: #3d4c5e;

          /* margin-right: 10px; */
          svg {
            display: inline-block;
          }
        }
      }
    }
  }
}

/* bottom footer */
.bottom_footer {
  background: #052b4a;
  box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, 0.02);

  .bookmark {
    padding: 15px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h4 {
      color: #eef1f6;
      font-size: 13px;
      font-weight: 400;
      line-height: 1;
    }

    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 15px;

      li {
        a {
          color: #eef1f6;
          font-size: 13px;
          font-weight: 400;
          line-height: 1;
        }
      }
    }
  }
}