@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter;
    background: #E5E7E9;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

.container {
    max-width: 1804px;
    margin: 0 auto;
}



h1 {
    color: #164781;
    font-size: 28px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 15px;
}

h2 {
    color: #164781;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
}

.btn {
    border-radius: 8px;
    background: #1483DE;
    padding: 6px 12px;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}