.loading {
    color: "green"
}

.error {
    padding-top: 10px;
    display: block;
}

.custom-table {
    border-spacing: 0 10px;
    background: #fff;

    thead {
        tr {

            th {
                color: #ffffff;
                background: #164781;

                padding: 12px;
                text-align: left;
                font-weight: 500;
            }
        }
    }

    tbody {
        tr {
            background: #f9fafb;

            td {
                padding: 5px;
                border-top: 1px solid #e5e7eb;
                border-bottom: 1px solid #e5e7eb;
            }
        }
    }
}

.custom-table tbody tr td:first-child {
    border-left: 1px solid #e5e7eb;
    border-radius: 8px 0 0 8px;
}

.custom-table tbody tr td:last-child {
    border-right: 1px solid #e5e7eb;
    border-radius: 0 8px 8px 0;
}

.delete-btn {
    padding: 6px 12px;
    background: #ef4444;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.delete-btn:hover {
    background: #dc2626;
}